BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  BeforeElse: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true